*, *::after, *::before {
  box-sizing: border-box;
}


html, body, #root {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #888888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}


h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.125rem;
}
